<div class="card shadow-none border border-primary-hover">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <div class="me-auto">
        <span class="text-sm text-muted text-primary-hover d-block font-semibold"></span>
      </div>
      <div class="avatar-group">
        <span class="avatar avatar-sm rounded-circle text-white border border-1 border-solid border-card">
          <img alt="..." src="/img/people/img-1.jpg" />
        </span>
        <span class="avatar avatar-sm rounded-circle text-white border border-1 border-solid border-card">
          <img alt="..." src="/img/people/img-2.jpg" />
        </span>
        <span class="avatar avatar-sm rounded-circle text-white border border-1 border-solid border-card">
          <img alt="..." src="/img/people/img-3.jpg" />
        </span>
      </div>
      <a href="#" class="avatar avatar-sm border-2 border-card rounded-circle bg-secondary text-muted text-xs">+3</a>
    </div>
    <h6 class="h4 font-semibold mt-5 mb-2"></h6>
    <a href="#!" class="d-inline-block text-sm font-semibold stretched-link"> -></a>
  </div>
</div>