<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-5">
      <div>
        <span class="d-block h6 text-muted font-regular mb-0">Updated 3hrs ago</span>
      </div>
      <div class="d-flex align-items-center gap-3">
        <a href="#" class="text-muted text-opacity-60 text-opacity-100-hover">
          <i class="bi bi-arrow-clockwise"></i>
        </a>
        <a href="#" class="text-muted text-opacity-60 text-opacity-100-hover">
          <i class="bi bi-three-dots"></i>
        </a>
      </div>
    </div>
    <a href="#offcanvasCreate" class="h5 font-semibold" data-bs-toggle="offcanvas"></a>
    <span class="text-xs text-uppercase text-muted d-block ls-wide font-semibold mt-5 mb-n1">Progress</span>
    <div class="d-flex align-items-center">
      <div style="width: 85%;">
        <div class="progress progress-sm shadow-none">
          <div class="progress-bar bg-primary" role="progressbar" style="width: %" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col px-0 text-end">
        <a href="#" class="text-heading text-sm">%</a>
      </div>
    </div>
    <div class="d-flex align-items-center mt-3">
      <div>
        <div class="hstack gap-4 justify-content-end">
          <div class="position-relative text-sm">
            <i class="bi bi-files-alt text-muted"></i>
            <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
          </div>
          <div class="position-relative text-sm">
            <i class="bi bi-people-fill text-muted"></i>
            <a href="#" class="text-muted text-primary-hover stretched-link">7</a>
          </div>
        </div>
      </div>
      <div class="ms-auto">
        <div class="avatar-group">
          <a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card">
            <img alt="..." src="/img/people/img-1.jpg">
          </a>
          <a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card">
            <img alt="..." src="/img/people/img-3.jpg">
          </a>
          <a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card">
            <img alt="..." src="/img/people/img-4.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>