<div class="card shadow-4-hover">
  <!-- Actions -->
  <div class="position-absolute top-0 end-0 mt-3 me-5 d-flex align-items-center">
    <div class="mx-n1">
      <a href="#" class="p-1 text-muted">
        <i class="bi bi-three-dots"></i>
      </a>
    </div>
  </div>
  <!-- Content -->
  <div class="card-body px-md-10">
    <!-- Apps logos -->
    <div class="d-flex align-items-center justify-content-center gap-5 mt-8">
      <div>
        <img alt="..." class="avatar rounded" src="/img/logos/clever-primary-sm.svg" />
      </div>
      <div>
        <i class="bi bi-arrow-left-right text-muted"></i>
      </div>
      <div>
        <img alt="..." class="avatar rounded" src="/img/social/github.svg" />
      </div>
    </div>
    <div class="d-flex flex-column align-items-center text-center">
      <!-- Title -->
      <h5 class="text-center mt-6 mb-4">Connect Clever to you GitHub account</h5>
      <!-- Account -->
      <div class="d-inline-flex align-items-center rounded-pill bg-surface-secondary">
        <div>
          <a href="#" class="avatar avatar-sm bg-warning rounded-circle text-white">
            JM
          </a>
        </div>
        <div class="ps-3 pe-4 d-none d-lg-block">
          <a href="#" class="h6 text-sm font-semibold">Julianne</a>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <!-- Heading -->
      <h6>GitHub would like to:</h6>
      <!-- Features -->
      <ul class="list-unstyled mt-3">
        <li class="py-1 d-flex align-items-center">
          <!-- Icon -->
          <div>
            <span class="text-xl text-success me-3 svg-icon svg-align-baseline">
              <i class="bi bi-check"></i>
            </span>
          </div>
          <!-- Text -->
          <p class="text-sm">
            Access your personal information
          </p>
        </li>
        <li class="py-1 d-flex align-items-center">
          <!-- Icon -->
          <div>
            <span class="text-xl text-success me-3 svg-icon svg-align-baseline">
              <i class="bi bi-check"></i>
            </span>
          </div>
          <!-- Text -->
          <p class="text-sm">
            Access your email address
          </p>
        </li>
        <li class="py-1 d-flex align-items-center">
          <!-- Icon -->
          <div>
            <span class="text-xl text-success me-3 svg-icon svg-align-baseline">
              <i class="bi bi-check"></i>
            </span>
          </div>
          <!-- Text -->
          <p class="text-sm">
            Send you security notifications
          </p>
        </li>
        <li class="py-1 d-flex align-items-center">
          <!-- Icon -->
          <div>
            <span class="text-xl text-success me-3 svg-icon svg-align-baseline">
              <i class="bi bi-check"></i>
            </span>
          </div>
          <!-- Text -->
          <p class="text-sm">
            Access your preferences
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>