<div class="card">
  <div class="card-body">
    <!-- Icon + Dropdown -->
    <div class="d-flex justify-content-between mb-5">
      <div class="me-4">
        <div class="icon icon-shape rounded-4 bg-secondary bg-opacity-40">
          <img src="" alt="..." />
        </div>
      </div>
      <div class="dropdown">
        <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="bi bi-three-dots"></i>
        </a>
        <div class="dropdown-menu">
          <a href="#!" class="dropdown-item">
            Action
          </a>
          <a href="#!" class="dropdown-item">
            Another action
          </a>
          <a href="#!" class="dropdown-item">
            Something else here
          </a>
        </div>
      </div>
    </div>
    <!-- Title -->
    <h6 class="h5 font-semibold mb-6"></h6>
    <!-- Progress -->
    <div class="d-flex align-items-center justify-content-between mb-1">
      <span class="text-sm text-uppercase text-muted d-block"> GB</span>
      <span class="text-sm text-uppercase text-muted d-block"> GB</span>
    </div>
    <div class="progress progress-sm shadow-none">
      <div class="progress-bar bg-" role="progressbar" style="width: %" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</div>