<div class="card h-full">
  <div class="card-body">
    <div class="card-title d-flex align-items-center">
      <h5 class="mb-0"></h5>
      <div class="ms-auto text-end">
        <a href="#" class="text-sm font-semibold">See all</a>
      </div>
    </div>
    <div class="list-group gap-4">
      <div class="list-group-item d-flex align-items-center border rounded">
        <div class="me-4">
          <div class="avatar rounded-circle">
            <img alt="..." src="/img/people/img-1.jpg">
          </div>
        </div>
        <div class="flex-fill">
          <!-- Title -->
          <a href="#" class="d-block h6 font-semibold mb-1">Norman Mohrbacher</a>
          <!-- Subtitle -->
          <span class="d-block text-sm text-muted">UI Designer</span>
        </div>
        <div class="ms-auto text-end">
          <div class="dropdown">
            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </a>
            <div class="dropdown-menu">
              <a href="#!" class="dropdown-item">
                Action
              </a>
              <a href="#!" class="dropdown-item">
                Another action
              </a>
              <a href="#!" class="dropdown-item">
                Something else here
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item d-flex align-items-center border rounded">
        <div class="me-4">
          <div class="avatar rounded-circle">
            <img alt="..." src="/img/people/img-2.jpg">
          </div>
        </div>
        <div class="flex-fill">
          <!-- Title -->
          <a href="#" class="d-block h6 font-semibold mb-1">Leeann Monnet</a>
          <!-- Subtitle -->
          <span class="d-block text-sm text-muted">Web Developer</span>
        </div>
        <div class="ms-auto text-end">
          <div class="dropdown">
            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </a>
            <div class="dropdown-menu">
              <a href="#!" class="dropdown-item">
                Action
              </a>
              <a href="#!" class="dropdown-item">
                Another action
              </a>
              <a href="#!" class="dropdown-item">
                Something else here
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item d-flex align-items-center border rounded">
        <div class="me-4">
          <div class="avatar rounded-circle">
            <img alt="..." src="/img/people/img-3.jpg">
          </div>
        </div>
        <div class="flex-fill">
          <!-- Title -->
          <a href="#" class="d-block h6 font-semibold mb-1">Kathe Rahimi</a>
          <!-- Subtitle -->
          <span class="d-block text-sm text-muted">Marketing Team</span>
        </div>
        <div class="ms-auto text-end">
          <div class="dropdown">
            <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-three-dots-vertical"></i>
            </a>
            <div class="dropdown-menu">
              <a href="#!" class="dropdown-item">
                Action
              </a>
              <a href="#!" class="dropdown-item">
                Another action
              </a>
              <a href="#!" class="dropdown-item">
                Something else here
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>