<div class="card card-progress">
  <div class="progress">
    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div class="card-body row align-items-center">
    <div class="col-sm-6">
      <a class="h6" href="#">Create the app's wireframe</a>
      <div class="d-inline-block float-right float-sm-none">
        <div class="ms-4 text-muted text-sm font-semibold">
          <i class="bi bi-chat me-2"></i>6
        </div>
      </div>
    </div>
    <div class="col-auto card-meta d-inline-flex align-items-center ms-sm-auto">
      <div>
        <span class="badge text-warning border border-warning badge-pill me-3"></span>
      </div>
      <div class="d-inline-flex text-sm text-muted">
        <div class="mx-2 text-sm font-semibold">
          <i class="bi bi-check-circle me-2"></i>50%
        </div>
        <div class="mx-2 text-sm font-semibold">
          <i class="bi bi-file-earmark-image me-2"></i>3
        </div>
      </div>
      <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary ms-4">
        <span class="avatar avatar-sm rounded-circle bg-primary text-white">
          JM
        </span>
        <div class="ps-2 pe-4">
          <a href="#" class="mb-0 text-sm text-muted stretched-link">+3</a>
        </div>
      </div>
    </div>
  </div>
</div>