<div class="card">
  <div class="px-4 px-md-8">
    <div class="d-flex align-items-center py-5 border-bottom">
      <h5 class="font-semibold">
        <span class="me-1">📬</span>
        <span>New tasks</span>
      </h5>
      <div class="hstack gap-3 ms-auto">
        <a href="#" class="p-1 text-muted">
          <i class="bi bi-calendar-event"></i>
        </a>
        <a href="#" class="p-1 text-muted">
          <i class="bi bi-three-dots"></i>
        </a>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <div class="list-group-item py-3">
        <div class="row g-3 align-items-center">
          <div class="col-sm-6 col-12 d-flex">
            <div class="form-check form-check-linethrough">
              <input class="form-check-input w-5 h-5 mt-0 rounded-circle border-dashed flex-none" type="checkbox" id="check-new-tasks-1">
              <a href="#offcanvasCreate" class="form-check-label font-regular ms-2" data-bs-toggle="offcanvas">
                Get another day full of work done!
              </a>
            </div>
          </div>
          <div class="col-sm-auto col-12 ms-sm-auto">
            <div class="hstack gap-5 justify-content-end">
              <div>
                <span class="badge bg-soft-warning text-warning">Important</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-check-circle-fill text-success"></i>
                <span class="d-inline-block w-8 text-muted text-end">74%</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-files-alt text-muted me-1"></i>
                <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
              </div>
              <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary bg-secondary-hover bg-opacity-20">
                <span class="avatar avatar-xs rounded-circle bg-primary text-white">
                  JM
                </span>
                <div class="ps-2 pe-4">
                  <a href="#" class="mb-0 text-sm text-muted text-primary-hover stretched-link">+3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item py-3">
        <div class="row g-3 align-items-center">
          <div class="col-sm-6 col-12 d-flex">
            <div class="form-check form-check-linethrough">
              <input class="form-check-input w-5 h-5 mt-0 rounded-circle border-dashed flex-none" type="checkbox" id="check-new-tasks-2" checked>
              <a href="#offcanvasCreate" class="form-check-label font-regular ms-2" data-bs-toggle="offcanvas">
                Keep my mentality healthy by taking walks outside
              </a>
            </div>
          </div>
          <div class="col-sm-auto col-12 ms-sm-auto">
            <div class="hstack gap-5 justify-content-end">
              <div>
                <span class="badge bg-soft- text-"></span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-check-circle-fill text-warning"></i>
                <span class="d-inline-block w-8 text-muted text-end">38%</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-files-alt text-muted me-1"></i>
                <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
              </div>
              <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary bg-secondary-hover bg-opacity-20">
                <span class="avatar avatar-xs rounded-circle bg-primary text-white">
                  JM
                </span>
                <div class="ps-2 pe-4">
                  <a href="#" class="mb-0 text-sm text-muted text-primary-hover stretched-link">+3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center py-5 border-bottom">
      <h5 class="font-semibold">
        <span class="me-1">✨</span>
        <span>Do today</span>
      </h5>
      <div class="hstack gap-3 ms-auto">
        <a href="#" class="p-1 text-muted">
          <i class="bi bi-calendar-event"></i>
        </a>
        <a href="#" class="p-1 text-muted">
          <i class="bi bi-three-dots"></i>
        </a>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <div class="list-group-item py-3">
        <div class="row g-3 align-items-center">
          <div class="col-sm-6 col-12 d-flex">
            <div class="form-check form-check-linethrough">
              <input class="form-check-input w-5 h-5 mt-0 rounded-circle border-dashed flex-none" type="checkbox" id="check-do-today-1" checked>
              <a href="#offcanvasCreate" class="form-check-label font-regular ms-2" data-bs-toggle="offcanvas">
                Figure out how to use Clever from the help center!
              </a>
            </div>
          </div>
          <div class="col-sm-auto col-12 ms-sm-auto">
            <div class="hstack gap-5 justify-content-end">
              <div>
                <span class="badge bg-soft- text-"></span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-check-circle-fill text-primary"></i>
                <span class="d-inline-block w-8 text-muted text-end">10%</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-files-alt text-muted me-1"></i>
                <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
              </div>
              <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary bg-secondary-hover bg-opacity-20">
                <span class="avatar avatar-xs rounded-circle bg-primary text-white">
                  JM
                </span>
                <div class="ps-2 pe-4">
                  <a href="#" class="mb-0 text-sm text-muted text-primary-hover stretched-link">+3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item py-3">
        <div class="row g-3 align-items-center">
          <div class="col-sm-6 col-12 d-flex">
            <div class="form-check form-check-linethrough">
              <input class="form-check-input w-5 h-5 mt-0 rounded-circle border-dashed flex-none" type="checkbox" id="check-do-today-2">
              <a href="#offcanvasCreate" class="form-check-label font-regular ms-2" data-bs-toggle="offcanvas">
                Build some new components in Figma
              </a>
            </div>
          </div>
          <div class="col-sm-auto col-12 ms-sm-auto">
            <div class="hstack gap-5 justify-content-end">
              <div>
                <span class="badge bg-soft-success text-success">New product</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-check-circle-fill text-success"></i>
                <span class="d-inline-block w-8 text-muted text-end">83%</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-files-alt text-muted me-1"></i>
                <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
              </div>
              <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary bg-secondary-hover bg-opacity-20">
                <span class="avatar avatar-xs rounded-circle bg-primary text-white">
                  JM
                </span>
                <div class="ps-2 pe-4">
                  <a href="#" class="mb-0 text-sm text-muted text-primary-hover stretched-link">+3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item py-3">
        <div class="row g-3 align-items-center">
          <div class="col-sm-6 col-12 d-flex">
            <div class="form-check form-check-linethrough">
              <input class="form-check-input w-5 h-5 mt-0 rounded-circle border-dashed flex-none" type="checkbox" id="check-do-today-3" checked>
              <a href="#offcanvasCreate" class="form-check-label font-regular ms-2" data-bs-toggle="offcanvas">
                Create wireframes for the new dashboard
              </a>
            </div>
          </div>
          <div class="col-sm-auto col-12 ms-sm-auto">
            <div class="hstack gap-5 justify-content-end">
              <div>
                <span class="badge bg-soft- text-"></span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-check-circle-fill text-danger"></i>
                <span class="d-inline-block w-8 text-muted text-end">4%</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-files-alt text-muted me-1"></i>
                <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
              </div>
              <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary bg-secondary-hover bg-opacity-20">
                <span class="avatar avatar-xs rounded-circle bg-primary text-white">
                  JM
                </span>
                <div class="ps-2 pe-4">
                  <a href="#" class="mb-0 text-sm text-muted text-primary-hover stretched-link">+3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center py-5 border-bottom">
      <h5 class="font-semibold">
        <span class="me-1">✍</span>
        <span>In progress</span>
      </h5>
      <div class="hstack gap-3 ms-auto">
        <a href="#" class="p-1 text-muted">
          <i class="bi bi-calendar-event"></i>
        </a>
        <a href="#" class="p-1 text-muted">
          <i class="bi bi-three-dots"></i>
        </a>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <div class="list-group-item py-3">
        <div class="row g-3 align-items-center">
          <div class="col-sm-6 col-12 d-flex">
            <div class="form-check form-check-linethrough">
              <input class="form-check-input w-5 h-5 mt-0 rounded-circle border-dashed flex-none" type="checkbox" id="check-in-progress-1">
              <a href="#offcanvasCreate" class="form-check-label font-regular ms-2" data-bs-toggle="offcanvas">
                Figure out how to use Clever from the help center!
              </a>
            </div>
          </div>
          <div class="col-sm-auto col-12 ms-sm-auto">
            <div class="hstack gap-5 justify-content-end">
              <div>
                <span class="badge bg-soft- text-"></span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-check-circle-fill text-primary"></i>
                <span class="d-inline-block w-8 text-muted text-end">10%</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-files-alt text-muted me-1"></i>
                <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
              </div>
              <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary bg-secondary-hover bg-opacity-20">
                <span class="avatar avatar-xs rounded-circle bg-primary text-white">
                  JM
                </span>
                <div class="ps-2 pe-4">
                  <a href="#" class="mb-0 text-sm text-muted text-primary-hover stretched-link">+3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item py-3">
        <div class="row g-3 align-items-center">
          <div class="col-sm-6 col-12 d-flex">
            <div class="form-check form-check-linethrough">
              <input class="form-check-input w-5 h-5 mt-0 rounded-circle border-dashed flex-none" type="checkbox" id="check-in-progress-2">
              <a href="#offcanvasCreate" class="form-check-label font-regular ms-2" data-bs-toggle="offcanvas">
                Build some new components in Figma
              </a>
            </div>
          </div>
          <div class="col-sm-auto col-12 ms-sm-auto">
            <div class="hstack gap-5 justify-content-end">
              <div>
                <span class="badge bg-soft-danger text-danger">Delayed</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-check-circle-fill text-success"></i>
                <span class="d-inline-block w-8 text-muted text-end">83%</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-files-alt text-muted me-1"></i>
                <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
              </div>
              <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary bg-secondary-hover bg-opacity-20">
                <span class="avatar avatar-xs rounded-circle bg-primary text-white">
                  JM
                </span>
                <div class="ps-2 pe-4">
                  <a href="#" class="mb-0 text-sm text-muted text-primary-hover stretched-link">+3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item py-3">
        <div class="row g-3 align-items-center">
          <div class="col-sm-6 col-12 d-flex">
            <div class="form-check form-check-linethrough">
              <input class="form-check-input w-5 h-5 mt-0 rounded-circle border-dashed flex-none" type="checkbox" id="check-in-progress-3" checked>
              <a href="#offcanvasCreate" class="form-check-label font-regular ms-2" data-bs-toggle="offcanvas">
                Create wireframes for the new dashboard
              </a>
            </div>
          </div>
          <div class="col-sm-auto col-12 ms-sm-auto">
            <div class="hstack gap-5 justify-content-end">
              <div>
                <span class="badge bg-soft- text-"></span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-check-circle-fill text-danger"></i>
                <span class="d-inline-block w-8 text-muted text-end">4%</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-files-alt text-muted me-1"></i>
                <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
              </div>
              <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary bg-secondary-hover bg-opacity-20">
                <span class="avatar avatar-xs rounded-circle bg-primary text-white">
                  JM
                </span>
                <div class="ps-2 pe-4">
                  <a href="#" class="mb-0 text-sm text-muted text-primary-hover stretched-link">+3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item py-3">
        <div class="row g-3 align-items-center">
          <div class="col-sm-6 col-12 d-flex">
            <div class="form-check form-check-linethrough">
              <input class="form-check-input w-5 h-5 mt-0 rounded-circle border-dashed flex-none" type="checkbox" id="check-in-progress-4">
              <a href="#offcanvasCreate" class="form-check-label font-regular ms-2" data-bs-toggle="offcanvas">
                Get another day full of work done!
              </a>
            </div>
          </div>
          <div class="col-sm-auto col-12 ms-sm-auto">
            <div class="hstack gap-5 justify-content-end">
              <div>
                <span class="badge bg-soft- text-"></span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-check-circle-fill text-success"></i>
                <span class="d-inline-block w-8 text-muted text-end">74%</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-files-alt text-muted me-1"></i>
                <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
              </div>
              <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary bg-secondary-hover bg-opacity-20">
                <span class="avatar avatar-xs rounded-circle bg-primary text-white">
                  JM
                </span>
                <div class="ps-2 pe-4">
                  <a href="#" class="mb-0 text-sm text-muted text-primary-hover stretched-link">+3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item py-3">
        <div class="row g-3 align-items-center">
          <div class="col-sm-6 col-12 d-flex">
            <div class="form-check form-check-linethrough">
              <input class="form-check-input w-5 h-5 mt-0 rounded-circle border-dashed flex-none" type="checkbox" id="check-in-progress-5">
              <a href="#offcanvasCreate" class="form-check-label font-regular ms-2" data-bs-toggle="offcanvas">
                Keep my mentality healthy by taking walks outside
              </a>
            </div>
          </div>
          <div class="col-sm-auto col-12 ms-sm-auto">
            <div class="hstack gap-5 justify-content-end">
              <div>
                <span class="badge bg-soft- text-"></span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-check-circle-fill text-warning"></i>
                <span class="d-inline-block w-8 text-muted text-end">38%</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-files-alt text-muted me-1"></i>
                <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
              </div>
              <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary bg-secondary-hover bg-opacity-20">
                <span class="avatar avatar-xs rounded-circle bg-primary text-white">
                  JM
                </span>
                <div class="ps-2 pe-4">
                  <a href="#" class="mb-0 text-sm text-muted text-primary-hover stretched-link">+3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center py-5 border-bottom">
      <h5 class="font-semibold">
        <span class="me-1">✍</span>
        <span>For later</span>
      </h5>
      <div class="hstack gap-3 ms-auto">
        <a href="#" class="p-1 text-muted">
          <i class="bi bi-calendar-event"></i>
        </a>
        <a href="#" class="p-1 text-muted">
          <i class="bi bi-three-dots"></i>
        </a>
      </div>
    </div>
    <div class="list-group list-group-flush">
      <div class="list-group-item py-3">
        <div class="row g-3 align-items-center">
          <div class="col-sm-6 col-12 d-flex">
            <div class="form-check form-check-linethrough">
              <input class="form-check-input w-5 h-5 mt-0 rounded-circle border-dashed flex-none" type="checkbox" id="check-for-later-1">
              <a href="#offcanvasCreate" class="form-check-label font-regular ms-2" data-bs-toggle="offcanvas">
                Figure out how to use Clever from the help center!
              </a>
            </div>
          </div>
          <div class="col-sm-auto col-12 ms-sm-auto">
            <div class="hstack gap-5 justify-content-end">
              <div>
                <span class="badge bg-soft- text-"></span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-check-circle-fill text-primary"></i>
                <span class="d-inline-block w-8 text-muted text-end">10%</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-files-alt text-muted me-1"></i>
                <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
              </div>
              <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary bg-secondary-hover bg-opacity-20">
                <span class="avatar avatar-xs rounded-circle bg-primary text-white">
                  JM
                </span>
                <div class="ps-2 pe-4">
                  <a href="#" class="mb-0 text-sm text-muted text-primary-hover stretched-link">+3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item py-3">
        <div class="row g-3 align-items-center">
          <div class="col-sm-6 col-12 d-flex">
            <div class="form-check form-check-linethrough">
              <input class="form-check-input w-5 h-5 mt-0 rounded-circle border-dashed flex-none" type="checkbox" id="check-for-later-2">
              <a href="#offcanvasCreate" class="form-check-label font-regular ms-2" data-bs-toggle="offcanvas">
                Build some new components in Figma
              </a>
            </div>
          </div>
          <div class="col-sm-auto col-12 ms-sm-auto">
            <div class="hstack gap-5 justify-content-end">
              <div>
                <span class="badge bg-soft-danger text-danger">Delayed</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-check-circle-fill text-success"></i>
                <span class="d-inline-block w-8 text-muted text-end">83%</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-files-alt text-muted me-1"></i>
                <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
              </div>
              <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary bg-secondary-hover bg-opacity-20">
                <span class="avatar avatar-xs rounded-circle bg-primary text-white">
                  JM
                </span>
                <div class="ps-2 pe-4">
                  <a href="#" class="mb-0 text-sm text-muted text-primary-hover stretched-link">+3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item py-3">
        <div class="row g-3 align-items-center">
          <div class="col-sm-6 col-12 d-flex">
            <div class="form-check form-check-linethrough">
              <input class="form-check-input w-5 h-5 mt-0 rounded-circle border-dashed flex-none" type="checkbox" id="check-for-later-3" checked>
              <a href="#offcanvasCreate" class="form-check-label font-regular ms-2" data-bs-toggle="offcanvas">
                Create wireframes for the new dashboard
              </a>
            </div>
          </div>
          <div class="col-sm-auto col-12 ms-sm-auto">
            <div class="hstack gap-5 justify-content-end">
              <div>
                <span class="badge bg-soft- text-"></span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-check-circle-fill text-danger"></i>
                <span class="d-inline-block w-8 text-muted text-end">4%</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-files-alt text-muted me-1"></i>
                <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
              </div>
              <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary bg-secondary-hover bg-opacity-20">
                <span class="avatar avatar-xs rounded-circle bg-primary text-white">
                  JM
                </span>
                <div class="ps-2 pe-4">
                  <a href="#" class="mb-0 text-sm text-muted text-primary-hover stretched-link">+3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item py-3">
        <div class="row g-3 align-items-center">
          <div class="col-sm-6 col-12 d-flex">
            <div class="form-check form-check-linethrough">
              <input class="form-check-input w-5 h-5 mt-0 rounded-circle border-dashed flex-none" type="checkbox" id="check-for-later-4">
              <a href="#offcanvasCreate" class="form-check-label font-regular ms-2" data-bs-toggle="offcanvas">
                Get another day full of work done!
              </a>
            </div>
          </div>
          <div class="col-sm-auto col-12 ms-sm-auto">
            <div class="hstack gap-5 justify-content-end">
              <div>
                <span class="badge bg-soft- text-"></span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-check-circle-fill text-success"></i>
                <span class="d-inline-block w-8 text-muted text-end">74%</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-files-alt text-muted me-1"></i>
                <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
              </div>
              <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary bg-secondary-hover bg-opacity-20">
                <span class="avatar avatar-xs rounded-circle bg-primary text-white">
                  JM
                </span>
                <div class="ps-2 pe-4">
                  <a href="#" class="mb-0 text-sm text-muted text-primary-hover stretched-link">+3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item py-3">
        <div class="row g-3 align-items-center">
          <div class="col-sm-6 col-12 d-flex">
            <div class="form-check form-check-linethrough">
              <input class="form-check-input w-5 h-5 mt-0 rounded-circle border-dashed flex-none" type="checkbox" id="check-for-later-5">
              <a href="#offcanvasCreate" class="form-check-label font-regular ms-2" data-bs-toggle="offcanvas">
                Keep my mentality healthy by taking walks outside
              </a>
            </div>
          </div>
          <div class="col-sm-auto col-12 ms-sm-auto">
            <div class="hstack gap-5 justify-content-end">
              <div>
                <span class="badge bg-soft- text-"></span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-check-circle-fill text-warning"></i>
                <span class="d-inline-block w-8 text-muted text-end">38%</span>
              </div>
              <div class="position-relative text-sm">
                <i class="bi bi-files-alt text-muted me-1"></i>
                <a href="#" class="text-muted text-primary-hover stretched-link">18</a>
              </div>
              <div class="position-relative d-flex rounded-pill align-items-center d-inline-flex bg-secondary bg-secondary-hover bg-opacity-20">
                <span class="avatar avatar-xs rounded-circle bg-primary text-white">
                  JM
                </span>
                <div class="ps-2 pe-4">
                  <a href="#" class="mb-0 text-sm text-muted text-primary-hover stretched-link">+3</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>