<div class="card">
  <div class="card-header border-0">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <span class="h6 text-sm font-semibold">
          <span class="text- me-2">●</span>
        </span>
      </div>
      <div class="text-end mx-n2 d-flex align-items-center">
        <a href="#" class="px-2 text-muted">
          <i class="bi bi-arrow-clockwise"></i>
        </a>
        <div class="dropdown">
          <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-three-dots"></i>
          </a>
          <div class="dropdown-menu">
            <a href="#!" class="dropdown-item">
              Action
            </a>
            <a href="#!" class="dropdown-item">
              Another action
            </a>
            <a href="#!" class="dropdown-item">
              Something else here
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body text-center">
    <!-- Logo -->
    <figure class="mx-auto">
      <div class="w-12 mx-auto">
        <img alt="..." class="w-full" src="" />
      </div>
    </figure>
    <!-- Title -->
    <a href="#" class="h5 d-block my-6"></a>
    <div class="my-4">
      <div class="avatar-group">
        <a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card">
          <img alt="..." src="/img/people/img-1.jpg">
        </a>
        <a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card">
          <img alt="..." src="/img/people/img-3.jpg">
        </a>
        <a href="#" class="avatar avatar-xs rounded-circle text-white border border-1 border-solid border-card">
          <img alt="..." src="/img/people/img-4.jpg">
        </a>
      </div>
    </div>
    <!-- Actions -->
    <div class="d-flex justify-content-between mt-8 px-4">
      <a href="#" class="px-2 text-muted text-primary-hover">
        <i class="bi bi-clipboard-data"></i>
      </a>
      <a href="#" class="px-2 text-muted text-primary-hover">
        <i class="bi bi-people"></i>
      </a>
      <a href="#" class="px-2 text-muted text-primary-hover">
        <i class="bi bi-trash"></i>
      </a>
    </div>
    <hr class="my-7">
    <div class="row justify-content-between align-items-center">
    </div>
  </div>
</div>