<div class="modal fade" id="modalAddUsers" tabindex="-1" aria-labelledby="modalAddUsers" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-3">
      <div class="modal-header justify-content-start">
        <div class="icon icon-shape rounded-3 bg-soft-primary text-primary text-lg me-4">
          <i class="bi bi-people"></i>
        </div>
        <div>
          <h5 class="mb-1">Add members</h5>
          <small class="d-block text-xs text-muted">Publish and share link with anyone</small>
        </div>
      </div>
      <div class="modal-body py-0 scrollable-y" style="max-height: 425px;">
        <div class="list-group list-group-flush">
          <div class="list-group-item d-flex align-items-center px-0 py-3">
            <div>
              <a href="#" class="avatar avatar-sm rounded-circle">
                <img alt="..." src="/img/people/img-3.jpg">
              </a>
            </div>
            <div class="flex-fill ms-4">
              <a href="#" class="d-block h6 mb-1">Robert Fox</a>
            </div>
            <div>
              <a href="#" class="btn btn-sm btn-neutral px-4 py-2 text-xs">Add</a>
            </div>
          </div>
          <div class="list-group-item d-flex align-items-center px-0 py-3">
            <div>
              <a href="#" class="avatar avatar-sm rounded-circle">
                <img alt="..." src="/img/people/img-1.jpg">
              </a>
            </div>
            <div class="flex-fill ms-4">
              <a href="#" class="d-block h6 mb-1">Darlene Robertson</a>
            </div>
            <div>
              <a href="#" class="btn btn-sm btn-neutral px-4 py-2 text-xs">Add</a>
            </div>
          </div>
          <div class="list-group-item d-flex align-items-center px-0 py-3">
            <div>
              <a href="#" class="avatar avatar-sm rounded-circle">
                <img alt="..." src="/img/people/img-2.jpg">
              </a>
            </div>
            <div class="flex-fill ms-4">
              <a href="#" class="d-block h6 mb-1">Theresa Webb</a>
            </div>
            <div>
              <a href="#" class="btn btn-sm btn-neutral px-4 py-2 text-xs">Add</a>
            </div>
          </div>
          <div class="list-group-item d-flex align-items-center px-0 py-3">
            <div>
              <a href="#" class="avatar avatar-sm rounded-circle">
                <img alt="..." src="/img/people/img-3.jpg">
              </a>
            </div>
            <div class="flex-fill ms-4">
              <a href="#" class="d-block h6 mb-1">Kristin Watson</a>
            </div>
            <div>
              <a href="#" class="btn btn-sm btn-neutral px-4 py-2 text-xs">Add</a>
            </div>
          </div>
          <div class="list-group-item d-flex align-items-center px-0 py-3">
            <div>
              <a href="#" class="avatar avatar-sm rounded-circle">
                <img alt="..." src="/img/people/img-4.jpg">
              </a>
            </div>
            <div class="flex-fill ms-4">
              <a href="#" class="d-block h6 mb-1">Cody Fisher</a>
            </div>
            <div>
              <a href="#" class="btn btn-sm btn-neutral px-4 py-2 text-xs">Add</a>
            </div>
          </div>
          <div class="list-group-item d-flex align-items-center px-0 py-3">
            <div>
              <a href="#" class="avatar avatar-sm rounded-circle">
                <img alt="..." src="/img/people/img-2.jpg">
              </a>
            </div>
            <div class="flex-fill ms-4">
              <a href="#" class="d-block h6 mb-1">Robert Fox</a>
            </div>
            <div>
              <a href="#" class="btn btn-sm btn-neutral px-4 py-2 text-xs">Add</a>
            </div>
          </div>
          <div class="list-group-item d-flex align-items-center px-0 py-3">
            <div>
              <a href="#" class="avatar avatar-sm rounded-circle">
                <img alt="..." src="/img/people/img-1.jpg">
              </a>
            </div>
            <div class="flex-fill ms-4">
              <a href="#" class="d-block h6 mb-1">Darlene Robertson</a>
            </div>
            <div>
              <a href="#" class="btn btn-sm btn-neutral px-4 py-2 text-xs">Add</a>
            </div>
          </div>
          <div class="list-group-item d-flex align-items-center px-0 py-3">
            <div>
              <a href="#" class="avatar avatar-sm rounded-circle">
                <img alt="..." src="/img/people/img-2.jpg">
              </a>
            </div>
            <div class="flex-fill ms-4">
              <a href="#" class="d-block h6 mb-1">Theresa Webb</a>
            </div>
            <div>
              <a href="#" class="btn btn-sm btn-neutral px-4 py-2 text-xs">Add</a>
            </div>
          </div>
          <div class="list-group-item d-flex align-items-center px-0 py-3">
            <div>
              <a href="#" class="avatar avatar-sm rounded-circle">
                <img alt="..." src="/img/people/img-3.jpg">
              </a>
            </div>
            <div class="flex-fill ms-4">
              <a href="#" class="d-block h6 mb-1">Kristin Watson</a>
            </div>
            <div>
              <a href="#" class="btn btn-sm btn-neutral px-4 py-2 text-xs">Add</a>
            </div>
          </div>
          <div class="list-group-item d-flex align-items-center px-0 py-3">
            <div>
              <a href="#" class="avatar avatar-sm rounded-circle">
                <img alt="..." src="/img/people/img-4.jpg">
              </a>
            </div>
            <div class="flex-fill ms-4">
              <a href="#" class="d-block h6 mb-1">Cody Fisher</a>
            </div>
            <div>
              <a href="#" class="btn btn-sm btn-neutral px-4 py-2 text-xs">Add</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="me-auto">
          <a href="#" class="text-sm font-semibold">
            <i class="bi bi-clipboard me-2"></i>
            <span class="">Copy link</span>
          </a>
        </div>
        <button type="button" class="btn btn-sm btn-neutral" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-sm btn-primary">Invite 3 users</button>
      </div>
    </div>
  </div>
</div>