<div class="card shadow-4-hover">
  <div class="card-body pb-5">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <img alt="..." class="w-10 h-10" src="" />
      </div>
      <div class="text-end">
        <button type="button" class="btn btn-sm btn-neutral rounded-pill" data-bs-toggle="modal" data-bs-target="#modalInstallApp">
          <i class="bi bi-plus-lg me-1"></i>
          <span>Install</span>
        </button>
      </div>
    </div>
    <div class="mt-6">
      <h6 class="mb-2"></h6>
      <p class="text-sm text-muted"></p>
    </div>
  </div>
</div>