<div class="card shadow-4-hover">
  <!-- Actions -->
  <div class="position-absolute top-0 end-0 mt-3 me-5 d-flex align-items-center">
    <div class="mx-n1">
      <a href="#" class="p-1 text-muted">
        <i class="bi bi-three-dots"></i>
      </a>
    </div>
  </div>
  <!-- Content -->
  <div class="card-body py-5">
    <div>
      <img alt="..." class="w-10 h-10" src="" />
    </div>
    <!-- Title -->
    <a href="#" class="d-block h5 mt-5 mb-1">Marco Joseph</a>
    <!-- Subtitle -->
    <span class="d-block text-sm font-semibold">Webpixels</span>
    <!-- Stats -->
    <div class="d-flex mt-3 mx-n4">
      <div class="text-xs font-semibold text-muted mx-4 my-2">
        <i class="bi bi-calendar me-1"></i>
        Thu. 16
      </div>
      <div class="text-xs font-semibold text-muted mx-4 my-2">
        <i class="bi bi-clock me-1"></i>
        10:00-12:00
      </div>
    </div>
  </div>
</div>