<div class="card shadow-4-hover">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <img alt="..." class="w-10 h-10" src="" />
      </div>
      <div class="text-right">
        <div class="d-flex align-items-center">
          <div>
            <span class="badge badge-xs badge-count text-sm rounded-circle bg-success">
              <i class="bi bi-check"></i>
            </span>
          </div>
          <div class="ms-2">
            <small class="h6 text-xs text-success">Installed</small>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-6">
      <h6 class="mb-2"></h6>
      <p class="text-sm text-muted"></p>
    </div>
  </div>
</div>