<div class="card">
  <div class="card-body">
    <!-- Icon + Avatar group -->
    <div class="d-flex align-items-center justify-content-between mb-5">
      <div class="me-4">
        <div class="icon icon-shape rounded-4 bg-secondary bg-opacity-40 text-lg text-heading">
          <i class="bi bi-"></i>
        </div>
      </div>
      <div>
        <div class="avatar-group">
          <a href="#" class="avatar avatar-sm bg-primary rounded-circle text-white border border-2 border-solid border-card">
            AE
          </a>
          <a href="#" class="avatar avatar-sm bg-tertiary rounded-circle text-white border border-2 border-solid border-card">
            MJ
          </a>
          <a href="#" class="avatar avatar-sm rounded-circle text-white border border-2 border-solid border-card">
            <img alt="..." src="/img/people/img-1.jpg">
          </a>
        </div>
      </div>
    </div>
    <!-- Title -->
    <h6 class="h5 font-semibold mb-5"></h6>
    <!-- Info -->
    <div class="d-flex justify-content-between">
    </div>
  </div>
</div>